services:
  article-crud-db:
    image: postgres:15-alpine
    container_name: article-crud-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: article
